<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/main.css") }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-1.11.1.min.js')}}"> </script>
    
<body>
    <div id="container">
        <div id="info"></div>
        <div id="graph">
            <div id="chart"></div>
            <div id="detail"></div>
        </div>
        <div id="footer"></div>
    </div>
    <script src="{{ url_for('static', filename = 'js/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</head>
</body>
</html>